.App {
  background-color: #ede9fe;
}

.algo-logo {
  margin-left: 9em;
  margin-top: -2em;
}

.grid__node {
  height: 25px;
  border-left: 1px solid rgba(5, 199, 157, 0.744);
  border-top: 1px solid hsla(172, 97%, 38%, 0.1);
  border-bottom: 1px solid hsla(172, 97%, 38%, 0.644);
  border-right: 1px solid hsla(172, 97%, 38%, 0.1);
  border-width: 1px;
  border-width: 0.1em;
  border-width: 0.01em;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.startNode {
  cursor: grab;
}
.endNode {
  cursor: grab;
}

.wall {
  background-color: hsl(208, 97%, 10%);
  border: 1px dotted hsl(208, 97%, 10%);
  /* animation: moveInSpring 400ms linear; */
  /* will-change: transform; */
}

/* #511dfc */
.route {
  border: 1px solid hsl(148, 97%, 50%);
  background-color: hsl(148, 97%, 50%);
}
.route-animation {
  border: 1px solid hsl(148, 97%, 50%);
  background-color: hsl(148, 97%, 50%);
  animation: scale-in-center 500ms linear;
}

.visitedNode {
  background-color: hsl(208, 97%, 55%);
  border: 1px dashed hsla(0, 0%, 100%, 0.14);
}

.visitedNode-animation {
  background-color: hsl(208, 97%, 55%);
  border: 1px solid hsl(0, 0%, 100%);
  border-left: 1px solid hsla(0, 0%, 84%, 0.744);
  border-top: 1px solid hsla(0, 0%, 84%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 84%, 0.544);
  border-right: 1px solid hsla(0, 0%, 84%, 0.1);
  animation: circle-to-square 1.5s linear both;
  will-change: transform;
}

.arrow-right {
  transform: rotate(135deg);
  display: block;
  margin: 30px auto;
  width: 15px;
  height: 15px;
  border-top: 5px solid hsl(208, 97%, 15%);
  border-left: 5px solid hsl(209, 27%, 31%);
  animation: arrow-beat 0.5s linear;
}

.star {
  font-size: 15px;
  animation: start-beat 0.5s linear;
}

select option {
  background-color: #111827 !important;
  font-size: 20px;
}

@keyframes start-beat {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes arrow-beat {
  0% {
    transform: rotate(135deg) scale(0.6);
  }
  50% {
    transform: rotate(135deg) scale(0.8);
  }
  100% {
    transform: rotate(135deg) scale(1);
  }
}
@keyframes moveInSpring {
  0% {
    transform: scale3d(0.96, 0.96, 1);
  }

  60% {
    transform: scale3d(1.14, 1.14, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0.4);
  }
  25% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle-to-square {
  0% {
    transform: scale(0.5);
    background-color: rgba(4, 251, 119, 0.509);
    opacity: 1;
  }

  80% {
    background-color: hsla(254, 97%, 55%, 0.509);
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
