.App {
  background-color: #ede9fe;
}

.algo-logo {
  margin-left: 9em;
  margin-top: -2em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(40, 25px); */
}

.grid__node {
  height: 25px;
  border: 1px dashed hsla(208, 97%, 55%, 0.349);

  display: flex;
  justify-content: center;
  align-items: center;
}

.startNode {
  cursor: grab;
}
.endNode {
  cursor: grab;
}

.wall {
  background-color: hsl(208, 97%, 20%);
  border: 1px dotted hsl(208, 97%, 20%);
}

.route {
  border: 1px solid hsl(34, 93%, 58%);
  background-color: hsl(34, 93%, 58%);
}

.visitedNode {
  background-color: #1e96fc;
  border: 1px dashed hsla(0, 0%, 100%, 0.199);
}
