.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  flex-wrap: wrap;
}
.grid {
  display: grid;
  grid-template-columns: repeat(40, 25px);
}

.grid__node {
  height: 25px;
  width: 25px;
  border: 1px dotted hsl(217, 19%, 20%);
  background-color: #374151;
}

.startNode {
  background-color: #3b82f6;
}
.endNode {
  background-color: #ec4899;
  /* cursor: grab; */
}

.walls {
  background-color: #111827;
  border: 1px dotted #111827;
}

.route {
  border: 1px solid #5b21b6;
  background-color: #5b21b6;
}

.visitedNode {
  background-color: #14d696;
}
